%tr
  %td= list.id
  %td= list.title
  %td= list.slug
  %td= list.visibility.to_s
  %td= list.subscriber_count
  %td
    - if list.is_featured?
      %span Y
  %td
    = table_link_to '', 'Edit', admin_list_path(list)