- content_for :header_tags do
  = javascript_pack_tag 'admin', integrity: true, async: true, crossorigin: 'anonymous'

- content_for :page_title do
  = "All Comments"

= form_tag admin_comments_url, method: 'GET', class: 'simple_form' do
  .fields-group
    .input.string.optional
      = text_field_tag :text, params[:text], class: 'string optional', placeholder: "Text contains"
    .input.string.optional
      = text_field_tag :id, params[:id], class: 'string optional', placeholder: "Id"
    .input.string.optional
      = text_field_tag :account_id, params[:account_id], class: 'string optional', placeholder: "Account Id"
    .input.string.optional
      = text_field_tag :source, params[:source], class: 'string optional', placeholder: "Source"
    .input.string.optional
      = text_field_tag :source_id, params[:source_id], class: 'string optional', placeholder: "Source Id"
    .input.string.optional
      = text_field_tag :created_at_gte, params[:created_at_gte], class: 'string optional', placeholder: "Created >= (MM-DD-YYYY)"
    .input.string.optional
      = text_field_tag :created_at_lte, params[:created_at_lte], class: 'string optional', placeholder: "Created <= (MM-DD-YYYY)"
    
    .actions
      %button= t('admin.accounts.search')
      = link_to t('admin.accounts.reset'), admin_comments_path, class: 'button negative'

= form_for(@form, url: admin_comments_path) do |f|
  = hidden_field_tag :page, params[:page]
  = hidden_field_tag :media, params[:media]

  .batch-table
    .batch-table__toolbar
      %label.batch-table__toolbar__select.batch-checkbox-all
        = check_box_tag :batch_checkbox_all, nil, false, data: { batch_checkbox_all: true }
      .batch-table__toolbar__actions
        = f.button safe_join([fa_icon('database'), t('admin.comments.batch.tombstone')]), name: :tombstone, class: 'table-action-link', type: :submit, data: { confirm: t('admin.reports.are_you_sure') }
        = f.button safe_join([fa_icon('trash'), t('admin.comments.batch.delete')]), name: :delete, class: 'table-action-link', type: :submit, style: 'color: #CE4D5D;', data: { confirm: t('admin.reports.are_you_sure') }
    .batch-table__body
      = render partial: 'admin/reports/comment', collection: @comments, locals: { f: f }

= paginate @comments
